:root {
    --gap: 10px;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
    overflow: hidden;
    font-size: 10px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1d1c23;
}

#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
